# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# VSCode settings (optional)
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Mac OS
.DS_Store

# Windows
Thumbs.db
